<html>
  <head>
    <title> Grid Search </title>
  </head>

  <body>
    <h1 id="site-name"> Grid Search </h1>
    <p> 
    Room name is a "grep" of classes. However request timeout is 30s
    so please make it specific enough
    </p>

    <input type="text" id="in-roomnm" placeholder="BOELTER 5213">
    <input type="time" id="in-time" placeholder="12:00:00">
    <input type="text" id="in-day" placeholder="w">
    <br>
    <button id="btn_submit" onclick="submit()"> Submit </button>
  </body>

</html>

<style>
  html, body {
    overflow: hidden;
    width: 50%;
  }

  body {
    position: relative;
    width: 50%;
  }

</style>

<script>
  function submit() {
    var classNm = document.getElementById("in-roomnm").value.toUpperCase()
    var time = document.getElementById("in-time").value + ":00"
    var day = document.getElementById("in-day").value.toUpperCase()

    // some simple checking
    if ( classNm.length == 0 ) {
      document.getElementById("site-name").innerHTML = "Invalid class name"
      return
    }

    if ( time.length <= 3 ) {
      document.getElementById("site-name").innerHTML = "Invalid time"
      return
    }

    if ( ! ["M","T","W","R","F"].includes(day) ) {
      document.getElementById("site-name").innerHTML = "Invalid day"
      return
    }

    document.getElementById("site-name").innerHTML = "Grid Search"
    window.location = `/submit?classname=${classNm}&time=${time}&day=${day}`
  }
</script>
